:root{
    --white:#FFF;
    --Light-blue-light-blue-100: #F3F5FC;
    --yellow-advertencia: #d7d77d;
    --background-texto-retorno: #5a5b5d;
}
*{
    margin: 0;
    padding: 0;
    
}

body{
    box-sizing: border-box;
    background-image: url('assets/hipsterII.jpeg');
    background-size: cover;
    background-color:var(--Light-blue-light-blue-100) ;
    opacity: 95%;    
}


.cabecalho{  
    padding: 2% 0% 0% 1%;
   
}
.cabecalho__image__logo{
    display: flex;    
    gap:5rem;  
}

.titulo{
    display: flex;
    text-shadow: 1px 1px 10px  rgb(220, 210, 72);
    color: var(--Dark-blue-dark-blue-300, #bcd7f7);
    font-size: 48px;
    padding: 5px;  
    justify-content: center;
    font-style:oblique;
    
}
.conteudo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5% 18%;
    gap:5rem;
    
}
.conteudo__apresentacao{    
    padding: 5px;
    
}
.conteudo__apresentacao__input{   
    font-size: 16px;
    width: 880px;
    height: 48px;
    text-align: center;
    margin: 80px 520px 808px 100px;
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border-radius: 24px;
}
.apresentacao__conteudo__logo__texto{
    display: flex;
    margin: -605px 948px 55px 110px; 
    align-items: center;   
    color: var(--Gray-gray-400, #495057);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    
    
}
.conteudo__apresentacao__image__advertencia{
    display: flex;
    width: 16px;
    height: 16px;    
    
    
}
.conteudo__apresentacao__texto__advertencia{
    display: flex;
    text-shadow: 1px 1px 1px  rgb(234, 112, 91);
    color:var(--yellow-advertencia);
    font-family: Inter;
    padding: 16px;
    background-color:rgba(0, 0, 0, 0.35);
    border-radius: 24px;
    
}
.apresentacao__conteudo__button{
    display: flex;
    margin: -45px 872px 72px 100px;
    gap: 24px;
}
.conteudo__apresentacao__button__criptografar{  
    display: flex;
    width: 328px;
    padding: 24px;
    justify-content: center;
    border-radius: 24px;
    background: var(--Dark-blue-dark-blue-300, #0A3871);
    color: var(--White, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.conteudo__apresentacao__button__descriptografar{
    display: flex;
    width: 328px;
    padding: 24px;
    justify-content: center;
    border-radius: 24px;
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
    background: #D8DFE8;
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.conteudo__apresentacao__button__copiar{
    display: flex;
    width: 328px;
    padding: 24px;
    justify-content: center;
    border-radius: 24px;
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: var(--white);
    margin-left: 45px;
    margin-top: 71.5px;    
    background-color:var(--Light-blue-light-blue-100);
    
}


.conteudo__retorno{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 470px;
    flex-shrink: 0;
    border-radius: 32px;
    background: var(--White, #FFF);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    padding: 25px 32px 350px 32px;
    margin-left: -450px;
    margin-top: -100px;  
    gap:45px;
    background-image: url('assets/hipsterII.jpeg');
    background-size:cover;
    opacity: 85%;
    
}

.conteudo__apresentacao__texto__retorno{
    padding: 25px 32px 350px 32px;
    display: flex;
    border: solid 1px var(--Dark-blue-dark-blue-300, #0A3871);
    border-radius: 24px;
    background-color:var(--background-texto-retorno) ;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 2);
    text-shadow: 1px 1px 1px  rgb(234, 112, 91);
    color:var(--yellow-advertencia);
    font-family: Inter;
    font-size: 32px;
    font-style:oblique;
    font-weight:1000 ;
    font-weight: 600;
    line-height: normal;
    background-image: url('assets/hipsterII.jpeg');
    background-size:cover;
    text-align: center;
      
    
}
.conteudo__apresentacao__descriptografar{
    display: flex;
    border: solid 1px var(--Dark-blue-dark-blue-300, #0A3871);
    padding: 30px;
    margin: 16px;
    border-radius: 24px;
    background-color:var(--Light-blue-light-blue-100) ;
}
.rodape{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 110px; 
    gap:5rem;
 
}
.nav__redes{
    display: flex;
    justify-content: end;
    padding: 2px;
    margin: -35px 10px 0px 0px;
    text-decoration: none;
    color: var(--Light-blue-light-blue-100);
    align-items: center;
    text-align: center;   
    gap: 10px; 
}

@media(max-width:1330px ){
    .cabecalho{
        display: flex;
        padding:10%;
        flex-direction: column-reverse;
        align-items: center;
        
    } 
    .nav__redes{
        margin-top: 5px;
    }
   
    .cabecalho__image__logo{
        margin-top: 50px;
    }
    .titulo{
        font-size: 24px;
        margin-top: 50px;
    }
    .conteudo{
        flex-direction: column;
        padding: 5%;
    }
    .conteudo__apresentacao{
        width: 100%;
    }
    .conteudo__apresentacao__input{
        margin:1px;
        width: 435px;
        height: 48px;
        text-align: center;        
    }
    .apresentacao__conteudo__logo__texto{
        margin:30px 0px 0px 2px;
    }
    .apresentacao__conteudo__button{
        width: 100%;
        flex-direction: column;
        padding: 5%;
        margin:5px 0px -85px 40px;     }
    .conteudo__retorno{
        margin:1px 0px 0px 2px;
        width: 400px;
        height: 300px;         
    }
    .button__segunda__funcao{
        margin:-101.5px 0px 0px 2px;
    }
    .rodape{
        margin-top: 5px;
        
    }

}   
